.banner-layout{
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  img{
    width: 100%;
    display: block;
  }

  h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    font-size: 48px;
  }

}