.banner-layout{
  background-image: url("../assets/Mask Group.png");
  background-repeat: no-repeat;
  background-size: cover;

  margin-top:50px;
  margin-bottom: 20px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  h1{
    color: white;
    font-weight: 500;
    font-size: 48px;
  }

}