@import "colors";
.gallery-layout{
  background-color: $bgColors;
  height: auto;
  border-radius: 15px;

  .gallery-container{
    position: relative;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;

    article{
      position: relative;
      color: white;
      font-weight: 500;
      font-size:18px;
      img{
        width: 340px;
        height: 340px;
        object-fit: cover;
        border-radius: 10px;
        &:hover {
          ~ .location {
            color: $mainColors;

          }
        }
      }
      .location{
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 25px;
      }
    }
  }
}