@import "colors";
.gallery-layout {
  background-color: $bgColors;
  height: auto;
  border-radius: 15px;

  .gallery-container {
    position: relative;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;

    article {
      position: relative;
      color: white;
      font-weight: 500;
      font-size: 18px;

      img {
        width: 340px;
        height: 340px;
        object-fit: cover;
        border-radius: 10px;
      }

      //correction apres soutenance
      &:hover .location {
        color: black;
      }

      .location {
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 25px;
        z-index: 2;
        width: 291px;
        //correction apres soutenance
        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
          border-radius: 10px;
          z-index: -1;
        }
      }
    }
  }
}
