@import "colors";
header{
  display: flex;
  justify-content: space-between;
   & .active{
    border-bottom:solid 3px $mainColors;
  }
  img{
    width: 210.32px;
    height: 68px
  }
  @media (max-width: 1000px){
    img{
      width: 145px;
      height: 46.88px;
    }
  }
  ul{
    list-style: none;
    display: flex;
    gap: 50px;
    a{
      text-decoration: none;
      color: $mainColors;
      font-size: 24px;
      font-weight: 500;
      &:hover{
        color: black;
      }
    }
    @media(max-width: 1000px){
      a{
        font-size: 18px;
      }
    }
  }@media(max-width: 1000px){
  ul{
    gap: 26px;
  }
}

}